@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap);

body{
    font-family: 'Ubuntu Mono';
    margin: 0;
    font-size: 15;
}

.container{
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100vw;
}

.consolebox{
    width: min(100vw, 850px);
    height: min(100vh, 450px);

    background-color: black;
    color: white;
    overflow: auto;
    padding: 3px;
}
.consolebox::selection { background:white; color:black; }


.fixedtext{
    line-height: 18px;
    width: 100%;
    word-break: break-all
}
.fixedtext::selection { background:white; color:black; }

.lastline{
    line-height: 18px;
    display: flex
}

.prefix{
    white-space: nowrap;
    width: fit-content;
}
.prefix::selection { background:white; color:black; }

textarea{
    font-size: 15;
    font-family: 'Ubuntu Mono';
    background: black;
    color: white;
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    padding-top: 0px;
    padding-left: 0;
    word-break: break-all;
    line-height: 18px;
}
textarea::selection { background:white; color:black; }
textarea:focus { outline: none !important; }


.green{
    color: lime
}
.blue{
    color: cyan
}
.red{
    color: red
}
