@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap);

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

p, blockquote{
    font-size: .9em;
    line-height: 1.6em;
}

header{
    text-align: center;
}

h1{
    font-size: 3em;
}

ul{
    list-style: none;
    padding: 0;
}

.container{
    margin: 1em;
    text-align: center;
}

.grid ul{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(5, 1fr);
    
}

.grid ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    color: white;
}

.green{
    background-color: green;
}

.red{
    background-color: red;
}

.green:hover{
    background-color: lightgreen;
}

.red:hover{
    background-color: pink;
}